[package]
name = "api"
version = "0.0.1"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
actix-web = "^4.4"
tokio = { version = "^1", features = ["full"] }
serde = { version = "^1", features = ["derive"] }
surrealdb = "^1.0"
redis = "^0.23"
meilisearch-sdk = "^0.24"
serde_json = "^1.0"
log = "^0.4"
env_logger = "^0.10"
dotenv = "^0.15"
once_cell = "^1.18"
reqwest = "^0.11"


#[profile.release]
# panic = "abort" # Optional but recommended for better performance in release builds
# rustflags = ["-C", "recursion_limit=256"]
#recursion_limit = 500
